[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
tabulate = "*"
sqlite3 = "*"  # For database connection (comes with Python but included for clarity)

[dev-packages]
# Add dev dependencies like linters or testing libraries here, e.g.,:
pytest = "*"  # For testing your project
flake8 = "*"  # For linting your code

[requires]
python_version = "3.8"
