[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"                  # For CLI functionality
tabulate = "*"              # For tabular display of data
sqlite3 = "*"               # For SQLite database integration (note: built into Python, so not strictly necessary to list)

[dev-packages]

[requires]
python_version = "3.8"
